{
  "presets": [
    [
      "@babel/env",
      {
        "modules": false,
        "targets": {
          "browsers": "> 0.25%, not op_mini all, not dead",
          "node": 8
        }
      }
    ],
    "vue"
  ],
   "env":{
    "test":{
      "presets": ["@babel/env", "vue"]
    }
  }

}
